 .column {
    width: 45%; /* Define a largura das colunas */
    display: inline-block; /* Permite que as colunas fiquem uma ao lado da outra */
    margin-right: 5px; /* Espaçamento de 5px entre as colunas */
    vertical-align: top; /* Alinha o conteúdo no topo das colunas */
}

.column img{
    width: 25%;
}

  /* Estilo para a lista de checklist */
ul.checklist {
    list-style-type: none; /* Remove os marcadores padrão da lista */
    padding: 0; /* Remove o preenchimento padrão da lista */
}

ul.checklist li {
    margin-bottom: 5px; /* Espaçamento entre os itens da lista */
}

ul.checklist li input[type="checkbox"] {
    margin-right: 5px; /* Espaçamento entre a checkbox e o texto */
}

  /* Estilo para o sub checklist */
ul.sub-checklist {
    list-style-type: none; /* Remove os marcadores padrão da lista */
    padding: 0 0 0 20px; /* Adiciona recuo para o sub checklist */
}

ul.sub-checklist li {
    margin-bottom: 3px; /* Espaçamento entre os itens do sub checklist */
}