/* Estilos para o título no topo */
.pagetitle {
    text-align: center;
    font-size: 24px;
    margin-top: 20px;
  }
  
  /* Estilos para a grade */
  .grid2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 quadros na horizontal */
    gap: 20px; /* Espaço entre os quadros */
  }
  
  /* Estilos para cada quadro */
  .cardTutorial {
    border: 1px solid #a41313;
    padding: 20px;
    text-align: center;
    background-color: #b2fcb6;
  }
  
  /* Estilos para a imagem */
  .cardTutorial img {
    max-width: 100%;
    max-height: 100px; /* Ajuste a altura máxima conforme necessário */
  }