<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    <title>Apostilas</title>
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    <link rel="stylesheet" href="/css/apostilas.css">
</head>

<body>

    <!--Secciones-del-tablero-->
    <%- include ('./partials/sidebar') %>
    
<div class="main-content">
    <!--PONTE PARA VISUALIZAÇÃO DO CABEÇALHO-->
    <%- include ('./partials/header') %>

<main>
    
    <div class="titulo">
                <h1>Catálogo de  apostilas</h1>
            </div>
    <div class="grid">
        <% documents.forEach((document) => { %>
            <div class="item">
                <h2><%= document.title %></h2>
                <a href="/uploads/apostilas/<%= document.fileName %>" target="_blank">Abrir</a> 

            </div>
        <% }) %>
    </div>
</main>

</body>

</html>