<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Criar Senha</title>
</head>
<body>

    <form id="passwordForm" action="/auth/login/create-password" method="post">
        <label for="password">Senha:</label>
        <input type="password" id="password" name="password" required>

        <label for="confirmPassword">Confirme a Senha:</label>
        <input type="password" id="confirmPassword" name="confirmPassword" required>

        <button type="submit">Criar Senha</button>
    </form>

</body>
</html>
