<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina Inicial</title>
    <link rel="stylesheet" type="text/css" href="/css/home.css">
</head>
<body>
    <a href="/auth" class="login-button">Login | Registro</a>
    <img src="/images/logo.png" alt="Logo" class="logo">
    <div class="content">
        <h1>Àrea voltada para os bolsistas da Coordenadoria de Tecnologia da Informação do IFCE </h1>
        <p>Caso você seja bolsista do auxilio formação, faça seu login.</p>
        <p>Caso você não seja, pode sair, Obrigada.</p>
        <p>Caso você precise abrir um chamado, clique no botão abaixo.</p>
        <a href="https://suap.ifce.edu.br/accounts/login/?next=/" class="link-button">Ir para o SUAP</a>
    </div>
</body>
</html>
