<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
      integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <link rel="stylesheet" type="text/css" href="/css/login.css" />

    <title>Login</title>
  </head>
  <body>
    <main id="container">
      <form id="_form" action="../auth/login/password" method="POST">
        <!-- FORM HEADER -->
        <div id="form_header">
          <h1>Login</h1>
        </div>
        <p></p>
        <!-- SOCIAL MEDIA LINK -->
        <div id="social_media">
          <a href="/auth/login/google">
            <img src="/images/google.png" alt="Google logo" />
          </a>
        </div>
      </form>
    </main>

    <!-- JAVASCRIPT -->
    <script type="text/javascript" src="/js/script.js"></script>
  </body>
</html>
