<!-- views/profile.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
</head>
<body>
    <h1>Informações do Usuário</h1>
    <p>Nome: <%= user.name %></p>
    <p>Email: <%= user.email %></p>
    <p>Turno de trabalho: <%= user.workShift %></p>
    <p>Número de telefone: <%= user.numberTel %></p>
    <a href="/page/profile/edit">Edit Profile</a>
</body>
</html>
