<!-- views/edit-profile.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Edit</title>
</head>
<body>
    <h1>Edit Profile</h1>
    <form action="../profile/edit/update" method="post">
        <label for="turnoTrabalho">Turno de Trabalho:</label>
        <input type="text" id="turnoTrabalho" name="workShift" value="<%= user.workShift %>">
        <br>
        <label for="numeroTelefone">Número de Telefone:</label>
        <input type="text" id="numeroTelefone" name="numberTel" value="<%= user.numberTel %>">
        <br>
        <button type="submit">Update Profile</button>
    </form>
    <br>
    <a href="/page/profile">View Profile</a>
</body>
</html>
