<form action="../home-bolsistas/upload" method="POST">
    <label for="title">Título:</label>
    <input type="text" id="title" name="title" required>
    <br>
    <label for="bodyRules">Regra:</label>
    <textarea id="bodyRule" name="bodyRule" rows="4" required></textarea>
    <br>
    <input type="submit" value="Enviar">
</form>