<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    <title>Admin</title>
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    <link rel="stylesheet" href="/css/tutorials.css">
</head>

<body>
    <!--Secciones-del-tablero-->
    <%- include ('./partials/sidebar') %>
    
    <div class="main-content">
      <!--PONTE PARA VISUALIZAÇÃO DO CABEÇALHO-->
      <%- include ('./partials/header') %>

<main>


    <div class="titulo2">
        <h1>Biblioteca de tutoriais</h1>
    </div>
    <div class="grid2">
        <!-- Quadro 1 -->
        <div class="item2">
            <img src="/images/v1.png" alt="Imagem 1">
            <h2>Chamados internos</h2>
            <button onclick="abrirPDF1()">Abrir PDF</button>
        </div>

        <!-- Quadro 2 -->
        <div class="item2">
            <img src="/images/v2.png" alt="Imagem 2">
            <h2>O que checar no HARDWARE</h2>
            <button onclick="abrirPDF2()">Abrir PDF</button>
        </div>

        <!-- Quadro 3 -->
        <div class="item2">
            <img src="/images/v3.png" alt="Imagem 3">
            <h2>Ordem de serviço correta</h2>
            <button onclick="abrirPDF3()">Abrir PDF</button>
        </div>

        <!-- Quadro 4 -->
        <div class="item2">
            <img src="/images/v3.png" alt="Imagem 4">
            <h2>Organização do Suap</h2>
            <button onclick="abrirPDF4()">Abrir PDF</button>
        </div>

        <!-- Quadro 5 -->
        <div class="item2">
            <img src="/images/v4.png" alt="Imagem 5">
            <h2>Título do Documento 5</h2>
            <button onclick="abrirPDF5()">Abrir PDF</button>
        </div>

        <!-- Quadro 6 -->
        <div class="item2">
            <img src="/images/v1.png" alt="Imagem 6">
            <h2>Título do Documento 6</h2>
            <button onclick="abrirPDF6()">Abrir PDF</button>
        </div>
    </div>

    
</main>

</body>

</html>