<header>
    <h2>
        <label for="nav-toggle">
            <span class="las la-bars"></span>
        </label> Centro De Tecnologia da Informação
    </h2>

    <div class="user-wrapper">
        <!--<img src="img/Avatar.png" width="40px" height="40px" alt="">-->
        <div>
            <h4>Bolsista</h4>
            <small>menino(a) da TI</small>
        </div>
    </div>
</header>