<head>
    <link rel="stylesheet" href="/css/sidebar.css">
</head>

<input type="checkbox" id="nav-toggle" checked>
    <div class="sidebar">
        <div class="sidebar-brand">
            <h2><span class="las la-computer"></span> <span>CTI</span></h2>
        </div>
        
        <div class="sidebar-menu">
            <ul>
                <li>
                    <a href="/page/home-bolsistas"><span class="las la-home"></span>
                    <span>Home</span></a>
                </li>
                <li>
                    <a href="/page/apostilas"><span class="las la-book"></span>
                    <span>Apostilas</span></a>
                </li>
                <li>
                    <a href="/page/tutorials"><span class="las la-box-open"></span>
                    <span>Tutoriais</span></a>
                </li>
        
                <li>
                    <a href="/page/checklists"><span class="las la-inbox"></span>
                        <span>Checklists</span></a>
                    </li>
        
                    <!--
                    <li>
                        <a href=""><span class="las la-search"></span>
                        <span>Fórum</span></a>
                    </li>
                -->
                    <!--
                    <li>
                        <a href="Bolsitas.html"><span class="las la-user"></span>
                        <span>Sobre os Bolsistas</span></a>
                    </li>
                -->
            </ul>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function() {
            var url = window.location.pathname; // obtém o caminho da URL atual
            $('.sidebar-menu a').each(function() {
                var href = $(this).attr('href');
                if (url === href) {
                    $(this).addClass('active'); // adiciona a classe 'active' ao link correspondente
                }
            });
        });
    </script>
