<input type="checkbox" id="nav-toggle">
    <div class="sidebar">
        <div class="sidebar-brand">
            <h2><span class="las la-computer"></span> <span>CTI</span></h2>
        </div>
        
        <div class="sidebar-menu">
            <ul>
                <li>
                    <a href="/page/home-bolsistas" class="active"><span class="las la-home"></span>
                    <span>Home</span></a>
                </li>
                <li>
                    <a href="/page/handouts"><span class="las la-book"></span>
                    <span>Apostilas</span></a>
                </li>
                <li>
                    <a href="/page/tutorials"><span class="las la-box-open"></span>
                    <span>Tutoriais</span></a>
                </li>
        
                <li>
                    <a href="/page/checklists"><span class="las la-inbox"></span>
                        <span>Checklists</span></a>
                    </li>
        
                    <!--
                    <li>
                        <a href=""><span class="las la-search"></span>
                        <span>Fórum</span></a>
                    </li>
                -->
                    <!--
                    <li>
                        <a href="Bolsitas.html"><span class="las la-user"></span>
                        <span>Sobre os Bolsistas</span></a>
                    </li>
                -->
            </ul>
        </div>
    </div>
